<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sulcompagnie.si_atmo_mobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".CRUD.WebViewLaporanPendapatanBulananActivity">
        </activity>
        <activity android:name=".CRUD.PendapatanBulananActivity">
        </activity>
        <activity android:name=".LaporanActivity">
        </activity>
        <activity
                android:name=".CRUD.DetilTransaksiSparepartActivity"
                android:label="Detil History Transaksi"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CRUD.DashPencarianTransaksiSparepartActivity"
                android:label="History Transaksi">
        </activity>
        <activity android:name=".PencarianTransaksiActivity">
        </activity>
        <activity android:name=".CRUD.UpdateStatusPengadaanActivity">
        </activity>
        <activity android:name=".PengadaanLaporanActivity">
        </activity>
        <activity android:name=".CRUD.TambahDetilPengadaanActivity">
        </activity>
        <activity
                android:name=".CRUD.DetilPengadaanActivity"
                android:label="Detil Pengadaan Sparepart">
        </activity>
        <activity
                android:name=".CRUD.TambahPengadaanActivity"
                android:label="Input Pengadaan">
        </activity>
        <activity
                android:name=".PengadaanActivity"
                android:label="@string/title_activity_pengadaan"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CRUD.EditSupplierActivity">
        </activity>
        <activity android:name=".CRUD.TambahSupplierActivity">
        </activity>
        <activity
                android:name=".SupplierActivity"
                android:label="@string/title_activity_supplier"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CRUD.EditSparepartActivity">
        </activity>
        <activity android:name=".CRUD.TambahSparepartActivity">
        </activity>
        <activity
                android:name=".SparepartActivity"
                android:label="@string/title_activity_sparepart"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DashboardActivity">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>