<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sulcompagnie.si_atmo_mobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".CRUD.NotaLunasActivity"
                android:label="Nota Lunas">
        </activity>
        <activity
                android:name=".CRUD.SuratPerintahKerjaActivity"
                android:label="Surat Perintah Kerja">
        </activity>
        <activity
                android:name=".SuratActivity"
                android:label="Surat Menyurat">
        </activity>
        <activity
                android:name=".CRUD.SisaStokBulananActivity"
                android:label="Sisa Stok Bulanan">
        </activity>
        <activity
                android:name=".CRUD.SparepartTerlarisActivity"
                android:label="Sparepart Terlaris">
        </activity>
        <activity
                android:name=".CRUD.PengeluaranBulananActivity"
                android:label="Pengeluaran Bulanan">
        </activity>
        <activity
                android:name=".HistoryTransaksiActivity"
                android:label="History Transaksi">
        </activity>
        <activity
                android:name=".CRUD.PendapatanTahunanCabangActivity"
                android:label="Pendapatan Tahunan Cabang">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanPendapatanBulananActivity"
                android:label="Pendapatan Bulanan">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanPendapatanTahunanCabangActivity"
                android:label="Laporan Pendapatan Tahunan">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanPengeluaranBulananActivity"
                android:label="Laporan Pengeluaran Bulanan">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanSparepartTerlarisActivity"
                android:label="Laporan Stok Terlaris">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanSisaStokActivity"
                android:label="Laporan Sisa Stok Bulanan">
        </activity>
        <activity
                android:name=".CRUD.WebViewLaporanServiceTerlarisActivity"
                android:label="Laporan Service Terlaris">
        </activity>
        <activity
                android:name=".CRUD.WebViewSuratPerintahKerjaActivity"
                android:label="Surat Perintah Kerja">
        </activity>
        <activity
                android:name=".CRUD.WebViewNotaLunasActivity"
                android:label="Nota Lunas">
        </activity>
        <activity
                android:name=".CRUD.PendapatanBulananActivity"
                android:label="Pendapatan Bulanan">
        </activity>
        <activity
                android:name=".LaporanActivity"
                android:label="Dashboard Laporan">
        </activity>
        <activity
                android:name=".CRUD.DetilTransaksiSparepartActivity"
                android:label="Detil History Transaksi"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CRUD.UpdateStatusPengadaanActivity"
                android:label="Update Status Pengadaan">
        </activity>
        <activity
                android:name=".CRUD.PengadaanLaporanActivity"
                android:label="Laporan Pengadaan">
        </activity>
        <activity
                android:name=".CRUD.TambahDetilPengadaanActivity"
                android:label="Tambah Detil Pengadaan">
        </activity>
        <activity
                android:name=".CRUD.DetilPengadaanActivity"
                android:label="Detil Pengadaan Sparepart">
        </activity>
        <activity
                android:name=".CRUD.TambahPengadaanActivity"
                android:label="Input Pengadaan">
        </activity>
        <activity
                android:name=".PengadaanActivity"
                android:label="@string/title_activity_pengadaan"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CRUD.EditSupplierActivity"
                android:label="Edit Supplier">
        </activity>
        <activity
                android:name=".CRUD.TambahSupplierActivity"
                android:label="Tambah Supplier">
        </activity>
        <activity
                android:name=".SupplierActivity"
                android:label="@string/title_activity_supplier"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".CRUD.EditSparepartActivity"
                android:label="Edit Sparepart">
        </activity>
        <activity
                android:name=".CRUD.TambahSparepartActivity"
                android:label="Tambah Sparepart">
        </activity>
        <activity
                android:name=".SparepartActivity"
                android:label="@string/title_activity_sparepart"
                android:parentActivityName=".DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".DashboardActivity"
                android:label="Dashboard">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>